[submodule "frontend/_public/src/assets/materialize-css-coha/materialize"]
	path = frontend/_public/src/assets/materialize-css-coha/materialize
	url = git@github.com:coha-it/CohaMaterializeCssSubmoduleTheme.git
[submodule "frontend/_public/src/assets/jquery.pan/jquery.pan"]
	path = frontend/_public/src/assets/jquery.pan/jquery.pan
	url = https://github.com/saplumbaga/jquery.pan
[submodule "frontend/_public/src/assets/jquery.stickOnScroll"]
	path = frontend/_public/src/assets/jquery.stickOnScroll
	url = https://github.com/purtuga/jquery.stickOnScroll.git
[submodule "frontend/_public/src/assets/material-design-icons"]
	path = frontend/_public/src/assets/material-design-icons
	url = git@github.com:google/material-design-icons.git
