[submodule "frontend/_public/src/assets/materialize-css-coha/materialize"]
	path = frontend/_public/src/assets/materialize-css-coha/materialize
	url = git@github.com:coha-it/CohaMaterializeCssSubmoduleTheme.git
