/* Selection-Colour */
::-moz-selection {      /* background: #efd84d;*/ background: #afcdd4;  }
::selection {           /* background: #efd84d;*/ background: #afcdd4;  }

.inverter ::-moz-selection {      background: #efd84d; color: #fff; }
.inverted ::selection {           background: #efd84d; color: #fff; }


/* HTML / Body Size */
@media screen and (min-width: 1700px) { html {font-size: 17px;} }
@media screen and (min-width: 2000px) { html {font-size: 18px;} }
@media screen and (min-width: 2500px) { html {font-size: 18px;} }

textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {box-shadow: unset;background-color: #fff;box-sizing: border-box;border-radius: 2px;color: #333;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;float: none;font-size: 16px;border: 1px solid #ccc;padding: 6px 10px;height: 38px;width: 100%;line-height: 1.3;}

textarea {height: 100px;}

/* List */
ul {}
ol {}
li {list-style-position: inside;}

/* Select */
.select-field select,
.js--fancy-select select {background-image: unset;font-size: 17px;}
.select-field:after,
.js--fancy-select:after {border: unset;}


.btn {transition: 200ms;text-transform: uppercase;letter-spacing: .03em;font-weight: bold;border-radius: 4px;padding: 0.125rem 1.5rem;border: 1px solid #cccccc;border-radius: 2px;}
.btn:hover {color: inherit;border-color: #c7c7c7;background-color: #f3f3f3;color: #30454b;}

.btn:disabled,
.btn:disabled:hover,
.btn.is--disabled,
.btn.is--disabled:hover {background: #dadada;color: #727e85;}

.btn.is--primary {color: #fff; background: #e1c832;border-color: #e1c832;}
.btn.is--primary:hover,
.btn.is--primary:active,
.btn.is--primary:focus {color: #fff; background: #eed64b;border-color: #eed64b;}


.btn.is--secondary {color: #fff;background: #758589;border-color: #758589;}
.btn.is--secondary:hover,
.btn.is--secondary:active,
.btn.is--secondary:focus {color: #fff;background: #88989c;border-color: #95a5a9;}


.product--details .product--header {height: auto;min-height: unset;padding: 15px 0 0;}
.product--details .product--actions {border-bottom: 0;}

@media screen and (min-width: 64em) {
    .product--details .product--image-container {
        width: 30%;
    }
}

.content--description ul.content--list.list--unstyled {  text-align: center;}
.content--description ul.content--list.list--unstyled li {margin: 10px 5px;}

/* Header Logo Centering*/
.header-main .top-bar {
    display: none;
}
/*
.header-main .logo-main .logo--link {
    height: 80px;
    z-index: 999;
    width: 150px;
}
*/
.noreddot h1:before,
.noreddot h2:before,
.noreddot h3:before {
    display: none;
}

/* Red Dot - Unmarkable */
.emotion--wrapper h1:before,
.emotion--wrapper h2:before,
.red-dot:before,
.reddot:before,
i.red-dot-dot, 
em.red-dot-dot {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* Yellow Square */
.yellow-square:before,
h2.yellow-square:before {background-color: #efd84d;height: 100%;top: 0;padding: 0;margin: 0;width: 35px;border-radius: unset;right: 100%;margin-right: 20px;}

.height-0 {height: 0 !important;}

.p-0 {padding: 0 !important;}
.pt-0 {padding-top: 0 !important;}
.pr-0 {padding-right: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.pl-0 {padding-left: 0 !important;}

.p-15 {padding: 15px !important;}
.pt-15 {padding-top: 15px !important;}
.pr-15 {padding-right: 15px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pl-15 {padding-left: 15px !important;}

.p-25 {padding: 25px !important;}

.mt-0 {margin-top: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.ml-0 {margin-left: 0 !important;}

blockquote {
    background: transparent;
    box-shadow: 0;
}

/**/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Inverted */
.emotion--container.inverted,
.emotion--container.inverted h1,
.emotion--container.inverted h2,
.emotion--container.inverted h3,
.emotion--container.inverted h4,
.emotion--container.inverted h5,
.emotion--container.inverted h6,
.emotion--container.inverted p {color: #fff;}


/* FOOTER */
.footer-main,
.footer-main .container {background: #c8d2d6;}

.footer-main,
.footer-main p {font-size: .9rem; }

.footer-main a {color: black;}

@media screen and (min-width: 48em) {
    .footer-main .footer--column {padding-right: 5%; }
}
.footer-main .column--headline {text-transform: uppercase; letter-spacing: .085em;}
.footer-main .footer--phone-link {background-color: #435e64;color: #fff;border-radius: 7px;padding: 5px 9px;display: inline-block;margin-bottom: 5px;}

.valign-wrapper {display: flex;align-items: center;/* align-self: center; */justify-content: center;}

/* Social Media Footer */
.coha--social-media-wrapper {text-align: center;}
.coha--social-media-wrapper .social-media {display: inline-block;padding: 15px 35px;color: inherit;transition: 200ms;width: 160px;text-align: center;}
.coha--social-media-wrapper .social-media .icon {font-size: 75px;}
.coha--social-media-wrapper .social-media .icon.shopware {font-size: 50px;line-height: 1.83;}
.coha--social-media-wrapper .social-media .text {font-size: 1.35em; display: inline-block;transform: scale(0); transform-origin: 50% 25%; transition: 200ms;}

.coha--social-media-wrapper .social-media:hover {color: #30454b;}
.coha--social-media-wrapper .social-media:hover .text {transform: scale(1);}


/*  */
@media screen and (hover: none) {
  .coha--social-media-wrapper .social-media .text {
    transform: scale(1);
  }
}

/* Fullscreen-video-emotion */
.fullscreen-video--emotion {min-height: 500px; height: 100vh; min-width: 320px;}

/* NAVIGATION */
.navigation-main .navigation--link { text-transform: uppercase; color: #000; font-weight: 500; position: relative;position: relative;font-size: 14px;}
.navigation-main .navigation--link:after {content: "";position: absolute;width: 0%;min-width: 0;background: #efd84d;height: 4px;left: 0;right: 0;bottom: -1px;margin: auto;transition: 200ms;}
.navigation-main .navigation--link:hover:after {width: calc(75% - 30px);min-width: 30px;}

.navigation-main .is--active .navigation--link {background: transparent;font-weight: 500;color: #54656c;}
.navigation-main .is--active .navigation--link:hover {color: #54656c;}
.navigation-main .is--active .navigation--link:after { width:calc( 75% - 30px); min-width: 35px; }
.navigation-main .is--active .navigation--link:hover:after { width: calc(100% - 30px); min-width: 35px; }

/* Image Fixes */
.emotion--mode-rows .emotion--html img {display: inline-block;}

/* Emotion Wrapper FLUID Image Fixes */
.emotion--mode-fluid .emotion--banner .banner--content {/* max-height: 100%; */}
.emotion--mode-fluid .emotion--banner .banner--content img { margin: auto; }
.emotion--mode-fluid .image-float-left  .emotion--banner .banner--content img { margin-left: 0; }
.emotion--mode-fluid .image-float-right .emotion--banner .banner--content img { margin-right: 0; }

/* HTML-Content */
.emotion--html .html--content a:not(.btn):not(.nolink) {position: relative;z-index: 1;}
.emotion--html .html--content a:not(.btn):not(.nolink):before {content: "";background: rgb(239, 216, 77);left: 0;right: 0;margin: 0 auto;top: 100%;height: .3em;font-size: .85em;width: 100%;position: absolute;z-index: -1;transition: 200ms;pointer-events: none;text-align: center;}
.emotion--html .html--content a:not(.btn):not(.nolink):hover:before {height: 105%;top: 0;width: calc(100% + 10px);left: -5px;}

/* HTML Content Styled */
.emotion--html.panel.has--border {box-shadow: 0px 2px 20px -5px rgba(0, 0, 0, 0.3);margin: 3%;max-width: 94%;height: auto;}
.emotion--html.panel.has--border .html--content.panel--body {padding: 5% 7%;width: 100%;height: auto;}
.emotion--html.panel.has--border .html--content.panel--body h1:first-of-type,
.emotion--html.panel.has--border .html--content.panel--body h2:first-of-type {margin-top: 0;}

/* Emotion-Banner 100% Radius */
.border-radius-100 .emotion--banner {border-radius: 100%;}

/* Center Logo */
.header-main {position: relative;width: 100% !important;/* z-index: 1000; */}
.header-main .header-inner {height: 100%; width: 100%;}
.header-main .header--navigation {position: static;padding: 0;width: 100%;}
.header-main .logo-main {left: 0;right: 0;margin: auto;float: none;overflow: visible;clear: both;width: 13rem;/* width: min-content; *//* width: fit-content; */height: 8.5rem;height: 100%;min-height: 65px;max-height: 110px;/* height: 100%; */text-align: center;top: 0;bottom: 0;z-index: 9;margin: auto;padding: 10px;}
.header-main .logo-main .logo--shop {width: 100%;height: 100%;margin-top: -3%;}
.header-main .logo-main .logo--link { height: 100%; width: 100%;}
.header-main .logo-main .logo--link picture img {display: inline-block;display: flex;margin: auto;align-items: center;justify-content: center;vertical-align: middle;align-self: center;}

.navigation-main {border-bottom: 1px solid #e6e6e6;}
.navigation-main > .container {background: transparent;}


.shop--navigation { width: 100%;}

/* Mobile */
.header-main .header-inner {height: 110px;position: relative;}

/* Translate Left and Right */
.translate-50-right {transform: translateX(50%);}
.translate-50-left {transform: translateX(-50%);}

/* Border Radius 100: Video */
.emotion--element.border-radius-100 .emotion--video {border-radius: 100%;}

/* Tablet */
@media screen and (min-width: 770px) {
    .header-main .header-inner {height: 170px;height: 100%;}
    .header-main .logo-main {padding: 20px;}

    .navigation-main > .container {padding-bottom: 10px;}
}

/* Desktop */
@media screen and (min-width: 1260px) {

    .header-main .header-inner {height: 110px;}

    .shop--navigation { line-height: 110px; }
    .navigation-main {height: 100%;}

    .header-main .logo-main {position: absolute;padding: 18px;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;}

    .navigation-main > .container {max-width: 1500px;padding: 0 15px;height: 100%;}
    .navigation-main .container .navigation--list-wrapper {height: 100%;width: 100%;justify-content: space-between;vertical-align: middle;display: flex;align-items: center;padding-bottom: 20px;padding: 0;}


    /* SIDEBAR FILTER */
    .listing--sidebar .sidebar-filter .action--filter-options {background: transparent; }
}
@media screen and (min-width: 78.75em) {

    .navigation-main > .container > .navigation--list-wrapper .navigation--list.container > .navigation--entry:last-of-type {margin-right: 3%;}

    .is--ctl-error:not(.is--act-pagenotfounderror) li.navigation--entry.is--home {margin-right: 300px;}
    .is--ctl-error:not(.is--act-pagenotfounderror) li.navigation--entry:last-of-type {margin-right: 75px;}
}

@media screen and (max-width: 767px) {
    .shop--navigation {/* line-height: 110px; */}
    .navigation-main .container .navigation--list-wrapper {height: 110px;}

    .header-main {padding: 0;}
    .header-main .logo-main {position: absolute;padding: 20px;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;height: 100%;}
}


/* EXPERIMENTAL */
.content-main {background: transparent;box-shadow: unset;margin-top: 0;max-width: 1440px;}
.content-main--inner {
    padding-top: 25px;
}
.emotion--wrapper {max-width: 1360px;}
.emotion--wrapper .emotion--container {background: transparent;}
.navigation--list-wrapper .navigation--entry {}
.navigation--list-wrapper .navigation--entry.entry--account {padding-right: 14px;} 
/* //EXPERIMENTAL */


/* SIDEBAR AND FILTER */
.shop-sites--container {border: 0;}
.sidebar--navigation {border: 0;background: transparent;}
.sidebar--navigation .navigation--entry {border: 0;margin: 0; padding-top: 5px; padding-bottom: 5px;}
.shop-sites--container .shop-sites--headline,
.sidebar--navigation .navigation--link {position: relative; padding-right: 0;padding-left: 0;text-transform: uppercase;letter-spacing: .115em;font-size: .9rem;font-weight: 700;}
.sidebar--navigation .navigation--link:hover,
.sidebar--navigation .navigation--link.is--active {color: #000;}
.sidebar--navigation .navigation--link.is--active:before {content: "";border-radius: 100%;border: 4px solid #E95323;display: inline-block;transform: translate(100%, -125%);position: absolute;top: 0;bottom: 0;height: 0;width: 0;right: 100%;margin: auto;}

.action--filter-options.is--collapsed {border: 0;}
.listing--actions {background: #fff;box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);}
.filter--container {padding: 0;}
.filter--container .filter-panel {background: transparent;border-width: 1px;border-radius: 0;border-color: transparent;}
/* // SIDEBAR AND FILTER */


/* Happiness Circles */
.happy-circles {width: 100%;height: 100%;min-height: 200px;height: 80vw;max-height: 500px;min-width: 200px;width: 80vw;width: 100%;max-width: 500px;margin: 0;text-align: center;display: inline-block;position: relative;overflow: visible;}

.happy-circle .inner {transition: 250ms;transform: scale(1);animation-name: rotate5deg;animation-duration: 10s;animation-iteration-count: infinite;animation-direction: alternate;position: absolute;width: 100%;width: fit-content;height: 100%;margin: auto;left: 0;right: 0;top: 0;bottom: 0;display: inline-block;text-align: center;overflow: visible;width: 100%;}
.happy-circle.inn .inner {transform: rotate(-7deg);transform: none;animation-name: rotate3deg;animation-name: none;animation-duration: 13s;animation-delay: 0s;width: 25%;/* width: fit-content; */height: 25%;animation-direction: alternate-reverse;}
.happy-circle.mid .inner {transform: rotate( 5deg);animation-name: rotate5deg;animation-duration: 11s;animation-delay: 1s;width: 62%;/* width: fit-content; */height: 62%;animation-direction: alternate;}
.happy-circle.out .inner {transform: rotate(-3deg);animation-name: rotate3deg;animation-duration: 10s;animation-delay: 3s;width: 100%;animation-direction: alternate-reverse;border-radius: 100%;}

.happy-circle div {height: 100%;width: auto;text-align: center;overflow: visible;position: relative;}
.happy-circle .svg {height: 100%;width: 100%;transition: 200ms;z-index: 1;border-radius: 25%;overflow: visible;}


.happy-circle:hover     {/*animation-play-state: paused;*/}
.happy-circle.inn:hover {}
.happy-circle.mid:hover {}
.happy-circle.out:hover {}

.happy-circle .svg:hover {transform: scale(1.01); z-index: 2;}
.happy-circle.inn .svg:hover,
.happy-circle.inn .svg:hover + .dot .svg {transform: scale(1.070); }
.happy-circle.mid .svg:hover,
.happy-circle.mid .svg:hover + .dot .svg {transform: scale(1.030); }
.happy-circle.out .svg:hover,
.happy-circle.out .svg:hover + .dot .svg {transform: scale(1.008); }

  /* DOT & DOT Hover */
.happy-circle .dot {position: absolute;left: 0;right: 0;margin: 0;top: 0;bottom: 0;pointer-events: none;transition: 4s ease-in-out;animation: rotateDot 12s cubic-bezier(0.4, -0.01, 0.6, 1) infinite alternate-reverse; }
.happy-circle.mid .dot {animation-direction: alternate-reverse;         animation-duration: 10s; }
.happy-circle.out .dot {animation-direction: alternate;                 animation-duration: 11s; animation-delay: 1s;}
.happy-circle .svg:hover + .dot .svg {}
.happy-circle.inn .svg:hover + .dot .svg {transform: scale(1.070) rotate(-5deg); }
.happy-circle.mid .svg:hover + .dot .svg {transform: scale(1.030) rotate(-5deg); }
.happy-circle.out .svg:hover + .dot .svg {transform: scale(1.008) rotate(-5deg); }

  /* CLICKED */
.happy-circle.clicked .dot .svg {transition: 5s linear; transform: rotate(-179deg) !important;}


/* Happy Circle: Info-Text */
.happy-circle .info {opacity: 0;pointer-events: none;transform: scale(.5);transform-origin: 90% 70%;transition: 200ms;position: absolute;bottom: 25%;height: inherit;top: 0;margin: auto;max-width: 250px;padding: 15px 25px;align-items: center;text-align: left;vertical-align: middle;left: -25%;z-index: 9;border-radius: 30px;line-height: 1.25;display: table;color: #425d64;background: #afcdd4;font-weight: 700;max-height: fit-content;max-height: max-content;max-height: min-content;}
.happy-circle.out .info {background: #AFCDD4;}
.happy-circle.mid .info {background: #FDD02D;}
.happy-circle.inn .info {background: #EE5220; color: #fff;}

.happy-circle:hover .info,
.happy-circle       .info:hover { pointer-events: all; opacity: 1;transform: scale(1);}

/* Bridge */
.happy-circle .info:after {content: "";width: 200%;position: absolute;overflow:hidden;right: -100px;background: transparent;height: 200%;z-index: 0;top: 0;}

  /* Circle */
.coha.circle {position: absolute;pointer-events: none;border-radius: 100%;}




/* Ausbildungsprogramme  */
.ausbildungsprogramm--workshop {/*transform: scale(1.05);*/}
.ausbildungsprogramm--workshop.empty {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.ausbildungsprogramm--workshop                    > * {background: #43626a;color: #43626a;overflow: visible;display: flex;align-items: center;justify-content: center;align-self: center;}
.ausbildungsprogramm--workshop.empty              > * {height: 100%; display: block; }
.ausbildungsprogramm--workshop:not(.empty)        > * {height: 100%;width: 100%;}
.ausbildungsprogramm--workshop.left-round         > * {border-radius: 100% 0 0 100%;}
.ausbildungsprogramm--workshop.right-round        > * {border-radius: 0 100% 100% 0;}
.ausbildungsprogramm--workshop.top-round          > * {border-radius: 100% 100% 0 0;}
.ausbildungsprogramm--workshop.bottom-round       > * {border-radius: 0 0 100% 100%;}
.ausbildungsprogramm--workshop:not(.empty)        > * > * {background: #fed119;border-radius: 100%;height: 100%;transition: 200ms ease-in-out;z-index: 1;display: flex;align-items: center;justify-content: center;height: 90% !important;width: 90% !important;}

.ausbildungsprogramm--workshop.transparent,
.ausbildungsprogramm--workshop.transparent        > *,
.ausbildungsprogramm--workshop.transparent        > * > * {background: transparent;}

/* Ausbildungsprogramme - Mobile / Fluid */
.emotion--mode-fluid .ausbildungsprogramm--workshop {min-width: 130px !important;width: 15vw !important;max-width: 180px !important;display: flex;align-items: center;justify-content: center;}
.emotion--mode-fluid .ausbildungsprogramm--workshop.empty {min-width: 125px !important;width: 10vw !important;max-width: 150px !important;margin: auto;display: flex;align-items: center;justify-content: center;margin: auto;transform-origin: center;}
.emotion--mode-fluid .ausbildungsprogramm--workshop:not(.empty) {min-width: 125px !important;width: 10vw !important;max-width: 150px !important;min-height: 125px !important;height: 10vw !important;max-height: 150px !important;margin: auto;display: flex;align-items: center;justify-content: center;margin: auto;transform-origin: center;}

/* Ausbildungsprogramme Inhouse */
.inhouse .ausbildungsprogramm--workshop:not(.transparent) > * {background: #30454b; }

/* Text */
.ausbildungsprogramm--workshop--text {padding-right: 15px;word-break: break-word;}
.ausbildungsprogramm--workshop--text p {font-size: 16px;margin: 0;line-height: 1.35;}
.ausbildungsprogramm--workshop--text h4 {margin: 0;line-height: 1.35;}
.ausbildungsprogramm--workshop--text table {border-spacing: 0;border-collapse: collapse;font-size: .8rem;width: 100%;max-width: 175px;}
.ausbildungsprogramm--workshop--text table td {color: #d2dcde;padding: 0;}
.ausbildungsprogramm--workshop--text table tbody tr td {background: transparent;border: unset;padding: 0px;margin: 0;}


.ausbildungsprogramm--workshop--text--desktop {margin-top: 10px;}
.ausbildungsprogramm--workshop--text--desktop:not(:last-child) {border-right-width: 2px; border-right-style: dotted;}
.ausbildungsprogramm--workshop--text--desktop > * {padding-left: 10px; padding-right: 10px; }
.ausbildungsprogramm--workshop--text--desktop:first-child > * {padding-left: 0; }
.ausbildungsprogramm--workshop--text--desktop h4 {margin-top: 0;}


/* Book-Payment Buttons */
.book-payment-buttons {}
.book-payment-buttons img {margin: 10px 10px 10px 0;box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.15);transition: 200ms;}
.book-payment-buttons img:hover {transform: scale(1.05);}


/* (6) Wachstumsfelder */
.wachstumsfeld--html {}
.wachstumsfeld--html .html--content > div {display: flex;align-items: center;/* justify-content: center; */align-self: center;}
.wachstumsfeld--html .html--content > div > p {padding: 20px;}
.wachstumsfeld--html .html--content > div > img {flex-shrink: 0;min-width: 150px;width: 15vw;max-width: 250px;border-radius: 100%;}

.wachstumsfeld--video:after {content: "";left: 100%;width: 125%;height: 100%;top: 0;display: block;position: absolute;pointer-events: none;}
.wachstumsfeld--video .video--cover {z-index: 1000 !important;opacity: 1;display: block !important;transition: 750ms;}
.wachstumsfeld--video:hover .video--cover {opacity: 0;}

.wachstumsfeld--video-text .html--content {display: flex; align-self: center; justify-content: center;}

/* 6 Wirksamkeitsslider */
.coha--wirksamkeits-slider {background-color: #f9f9f9;padding: 0px !important;margin: 0 !important; transition: 200ms;}
.coha--wirksamkeits-slider .owl-carousel {padding-top: 10px;}
.coha--wirksamkeits-slider .owl-item {transition: 200ms;}
.coha--wirksamkeits-slider .owl-item .item {padding: 15px;}
.coha--wirksamkeits-slider .owl-item .item {display: flex;align-items: center;justify-content: center;/* background-color: #fff; */border-radius: 15px;/* box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.29); */}
.coha--wirksamkeits-slider .owl-item h4 {margin: 0;padding: 0 15px;font-size: 1.2rem;font-weight: 500;}
.coha--wirksamkeits-slider .owl-item img {align-self: start;min-width: 80px;width: 80px;}

.coha--wirksamkeits-slider .owl-nav.disabled+.owl-dots {margin-top: 0;}

/*.coha--wirksamkeits-slider:hover {background-color: transparent;}
.coha--wirksamkeits-slider:hover .owl-item {opacity: .9;}
.coha--wirksamkeits-slider:hover .owl-item:hover {background-color: #fff; transform: scale(1.05); opacity: 1;}*/

/* Referenzslider */
.coha--referenzen-slider {padding: 0 !important;}
.coha--referenzen-slider .emotion--manufacturer {max-height: 175px;}
.coha--referenzen-slider .emotion--manufacturer .manufacturer--content {padding-top: 0;padding-bottom: 0;}
.coha--referenzen-slider .emotion--manufacturer .manufacturer--item {padding-top: 0;padding-bottom: 0;}

/* Unternehmenslider */
.coha--unternehmen-slider {padding: 0 !important;}
.coha--unternehmen-slider .manufacturer--content {padding-left: 0 !important; padding-right: 0 !important;}
.coha--unternehmen-slider .product-slider--arrow {color: #afc5cb;margin-right: 20px !important;margin-left: 20px !important;}

/* Start: Team */
/* Team Types */
.coha--team {padding: 0 25px;max-width: 1500px;}
.coha--team.team {}
.coha--team.training {}
.coha--team.experten-netzwerk {} 
.coha--team.unternehmen {max-width: 100%;padding: 0;} 
.coha--team.vertriebspartner {}
.coha--team.bewerbung {}

.coha--team h1,
.coha--team h2 {font-size: 2rem;font-weight: 600;line-height: 1.25;}

.coha--team .members {overflow: visible;}
.coha--team .members .emotion--element {overflow: visible; }
.coha--team .members .emotion--blog {overflow: visible; }
.coha--team .members .blog--entry {display: flex;align-items: center;align-self: center;margin: 20px;}
.coha--team .members .blog--entry > p {margin: 0;}
.coha--team .members .blog--entry .blog--image {border-radius: 100%;flex-shrink: 0;margin: 0 10px;min-height: 120px;min-width: 120px;width: 25vw;height: 25vw;max-width: 170px;max-height: 170px;transition: 700ms;overflow: visible;}
.coha--team .members .blog--entry {padding: 0 0 0 20px;font-family: TisaPro, ff-tisa-web-pro;}
.coha--team .members .blog--entry > * {transition-duration: 900ms;}

.members + .members .blog--entry  * {transition-delay: 100ms;}
.members + .members + .members .blog--entry  * {transition-delay: 200ms;}

.coha--team .members .blog--entry p,
.coha--team .members .blog--entry h1,
.coha--team .members .blog--entry h2,
.coha--team .members .blog--entry h3,
.coha--team .members .blog--entry h4 { text-align: left; margin: 0;font-size: 1.15rem;line-height: 1.25;font-weight: inherit;font-family:  TisaPro, ff-tisa-web-pro;}

.coha--team .members .blog--entry h3 {font-size: 1.55rem;display: block;text-align: left;width: 100%;}
.coha--team .members .blog--entry h3:before {display: none;}
.coha--team .members .blog--entry a {color: inherit;}

.coha--team .members .blog--entry .labels {margin: 5px 0 0 -2px;font-family: Lato;transition-delay: 50ms;}
.coha--team .members .blog--entry .labels > span {cursor: pointer;background-color: rgba(255, 255, 255, 0.2901960784313726);font-size: .85rem;border-radius: 7px;padding: 3px 8px;margin: .25em .5em .25em 0;transition: 225ms;display: inline-block;}

.coha--team .members .blog--entry.highlighted .labels > span,
.coha--team .members .blog--entry .labels:hover > span {opacity: .85;background: rgba(255, 255, 255, 0.34);}

.coha--team .members .blog--entry .labels > span.highlighted,
.coha--team .members .blog--entry .labels:hover > span:hover {opacity: 1;background: #ffffff;}

.coha--team .members .blog--entry .blog--description a {font-size: 0;overflow: hidden;display: block;transition: 200ms;/* white-space: nowrap; */}
.coha--team .members .blog--entry.no-labels .blog--description a,
.coha--team .members .blog--entry:hover .blog--description a {font-size: inherit; font-size: .85em;}

@media (hover: none), screen and (max-width: 769px) {
    .coha--team .members .blog--entry .blog--description a {font-size: inherit; font-size: .85em;}
}

/* Highlighting */
.coha--team .members .blog--entry {transition: 200ms;}
.coha--team .members .blog--entry.highlighted { transform :scale(1.1); }
.coha--team .members .blog--entry.dehighlighted {filter: blur(2px) saturate(0);}
.coha--team .members .blog--entry.dehighlighted {transform: scale(.9);}

.coha--team .members .blog--entry.highlighted .html--content .profile-picture > img {box-shadow: 0px 3px 25px -7px rgba(255, 255, 255, 0.75);}


/* Random Colors */
.coha--team .members .blog--entry .labels > span.highlighted[rnumber="1"] {background: #e4f7e1;}
.coha--team .members .blog--entry .labels > span.highlighted[rnumber="2"] {background: #fdf9e2;}
.coha--team .members .blog--entry .labels > span.highlighted[rnumber="3"] {background: #f0e7f5;}
.coha--team .members .blog--entry .labels > span.highlighted[rnumber="4"] {background: #dff2ff;}

/* Start: Team 2 */
.members .emotion--blog .blog--container .blog--entry {display: grid;grid-template-columns: auto 2fr;align-items: center;align-self: center;padding: 0;margin: 20px 0;min-width: 450px;}

.members .emotion--blog .blog--title {display: none !important;}
.members .emotion--blog .blog--description {padding: 0 10px;display: flex;flex-direction: column;justify-content: start;max-width: 100%;max-height: initial;text-align: left;}

.members .blog--image {pointer-events: none; border-radius: 100%;flex-shrink: 0;min-width: 120px;width: 25vw;max-width: 170px;transition: 700ms;grid-column: 1 / 2;/* grid-row: 1 / span 2; */}


/* Mobile */
@media screen and (max-width: 996px) {
  .coha--team .members {width: 100% !important;padding-left: 0 !important;padding-right: 0;}
  .coha--team .members .blog--entry .blog--image {margin: 0 auto;}
  .coha--team .members .emotion--blog .blog--container .blog--entry {display: block;text-align: center;width: 100% !important;min-width: 180px;}
  .coha--team .members .emotion--blog .blog--container .blog--entry,
  .coha--team .members .emotion--blog .blog--container .blog--entry .blog--description,
  .coha--team .members .emotion--blog .blog--container .blog--entry .blog--description h3,
  .coha--team .members .emotion--blog .blog--container .blog--entry .blog--description p {text-align: center;align-items: center;justify-content: center;}
}



/* End: Team */

/* Product Slider */
.product-slider--container.is--horizontal {text-align: center;}

/* Product / Article Listing */
.listing--container {overflow: visible;overflow: inherit;float: none;clear: both;}
.listing .product--box .box--content {background: #fff;border-color: #ffffff;border: unset;box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);}


/* Product / Article Listing: Full-Width-List */
.box--list.product--box .product--title {font-size: 1.5rem;line-height: 1.25;font-weight: 500;height: inherit;}
.box--list.product--box .product--description {height: auto;white-space: pre-line;}

@media screen and (min-width: 64em) {
    .box--basic:nth-of-type(2n+3) {clear: left;}
}


/* Product Slider Arrows */
.product-slider--arrow {background: transparent;border: 0;color: #d9d9d9;/* color: rgba(255, 255, 255, 0.54); */font-size: 2rem;font-weight: 100;width: 60px;height: 60px;text-align: center;padding: 0;vertical-align: middle;align-items: center;display: flex;align-items: center;justify-content: center;transition: 200ms;border-radius: 100% !important;}
.product-slider--arrow:hover {color: #fff;background-color: rgba(255, 255, 255, 0.1);}
.product-slider--arrow.arrow--next {padding-left: 5px;}
.product-slider--arrow.arrow--prev {padding-right: 5px;}

/* JS Modal */
.js--modal {background: rgba(0, 0, 0, 0.26);}
.js--modal .image-slider--thumbnails {background: transparent; text-align: center; display: block;}
.js--modal .thumbnail--link {border: 0; background: rgba(0, 0, 0, 0.33);}
.js--modal .image-slider--thumbnails-slide {text-align: center;}

/* Tabs */
.js--tab-menu .tab--link {}
.js--tab-menu .tab--container-list .tab--container {border-top: 2px solid #e6e6e6;}

.last-seen-products .last-seen-products--slider,
.js--tab-menu .tab--navigation {padding: 2px 0 1px 0;}

.last-seen-products .last-seen-products--title,
.js--tab-menu .tab--link {font-weight: 500;text-transform: uppercase;font-size: 17px;background: #fff;background: transparent;border: 0; position: relative;}
.js--tab-menu .tab--link:after {transition: 200ms; content:"";position: absolute;width: 0;height: 2px;background: rgb(0, 0, 0);left: 0;right: 0;top: 100%;margin: auto;}

.js--tab-menu .tab--link.is--active,
.js--tab-menu .tab--link:hover {color: #000;}

.js--tab-menu .tab--link.is--active:after,
.js--tab-menu .tab--link:hover:after {width: 100%;}

/* Tables */
table {border-spacing: 0;}
table tr {border: 0;}

.product--details .product--properties td,
table td {color: inherit; border: 0; padding: 5px;padding: 13px 15px;}

table td:first-child {border-right: 4px solid black;}

/* Product Details */
.product--details .content--title {display: none;}

/* Link */
a {color: #000;}

/* Product Images */
.image-slider--thumbnails .thumbnail--link {border: 0;}


/* Pulsing Mapping */
.emotion--banner .banner--mapping-link {display: flex;align-items: center;justify-content: center;overflow: visible;}
.emotion--banner .banner--mapping-link:before {content: "";z-index: 0;background-color: rgba(255, 255, 255, 0.35);box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.35) inset;opacity: 1;width: 100%;height: 100%;border: unset;position: absolute;}
.emotion--banner .banner--mapping-link:hover:before {animation: pulsingMappingLink 3s linear infinite;}

.emotion--banner .banner--mapping-link:after {z-index: 1;text-align:center;background: #efd84d;color: #323d42;padding: 10px 20px;}
.emotion--banner .banner--mapping-link:nth-of-type(2n):after {background: #afcdd4;color: #323d42;padding: 10px 20px;}

.emotion--banner .banner--mapping-link[title]:after{content: attr(title);}
.emotion--banner .banner--mapping-link[aria-label]:after{ content: attr(aria-label);}


.emotion--banner .banner--mapping-link:hover:after {transform: scale(1.1); transition: 300ms;}

/* Video-Banner Subtext Animation */
.videoSubtextAnim {position: relative; width: 100%; padding: 0 25px;}
.videoSubtextAnim span {display: block;position: absolute;right: 0;line-height: 1;left: 0;margin: auto;word-break: break-word;opacity: 0;padding: 0 20px;animation: videoSubtextAnim 35s cubic-bezier(0.47, 0.09, 0.63, 1.07) infinite;transform-origin: center top;}
.videoSubtextAnim span:nth-of-type(1) {animation-delay: 5s;}
.videoSubtextAnim span:nth-of-type(2) {animation-delay: 10s;/* opacity: 0; */}
.videoSubtextAnim span:nth-of-type(3) {animation-delay: 15s;}


/* Videos-Banner */
.videos-wrapper {}
.videos-wrapper h2 {margin-bottom: -20px !important;font-size: 20px; font-weight: 400;}
.videos-wrapper h3 {margin-top: 20px;}
.videos-wrapper .html--content {color: #fff;}
.videos-wrapper.dark h2 {color: #fff;}
.videos-wrapper.dark h3 {font-size: 36px; line-height: normal; font-weight: 900;color: #fff; line-height: 1.15; }
.videos-wrapper.dark .html--content p {font-family: ff-tisa-web-pro, TisaPro, Tisa; color: #ccc; font-weight: 500;letter-spacing: .025em;font-size: 1.1em;}

.video-hidden {height: 0;transform: scale(0.5); opacity: 0; transition: 400ms; transform-origin: 50% 0%;}
.video-hidden.visible {height: auto; transform: scale(1); opacity: 1;}
.video-hidden.btn {transition: 0ms;}

/* BLOG */
.blog--listing .panel.blog--box {border: unset;box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.10980392156862745);}
.blog--content {max-width: 1200px;margin-left: auto;margin-right: auto;}
.blog--content .blog--navigation .block {border: unset;background: #fff;box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.10980392156862745);}
.blog--content .blog--box .blog--box-metadata {border: unset;margin: 0;}
.blog--content .blog--box .blog--box-headline {margin: 0;max-width: 650px;padding: 0;font-weight: 400;font-size: 1.58rem;line-height: 1.3;}
.blog--box-header {padding: 20px;}
.blog--box .blog--box-metadata .blog--metadata.blog--metadata-date {opacity: .8;}


/* BLOG: Details */
.blog--detail .blog--box {background: transparent;}
.blog--detail .blog--detail-header {background: transparent;}
.blog--detail {background: transparent;max-width: 1200px;margin-left: auto;margin-right: auto;}
.blog--detail .blog--detail-headline {font-size: 2rem;font-weight: 300;text-align: center;}
.blog--detail .panel--title {text-align: center;}
.blog--detail .blog--box-metadata {text-align: center;}
.blog--detail .blog--image {border: unset;border-radius: unset;}
.blog--detail-tags a {border: 1px solid #f5f5f5;background: #fff;box-shadow: 0 2px 7px -8px rgba(0, 0, 0, 0.13);padding: 3px 10px;border-radius: 9px;}

/* BLOG: Image */
.blog--detail .blog--image {box-shadow: 0 6px 25px -15px rgba(0, 0, 0, 0.22);}
.blog--detail .blog--thumbnail {border: 0;box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.22);}

/* PANEL */
.panel.has--border {box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.12);border: 0;border-radius: 0;}

/* CHECKOUT */
.is--ctl-checkout.is--minimal-header .header-main .logo-main,
.is--ctl-register.is--minimal-header .header-main .logo-main,
.is--ctl-register.is--minimal-header.is--target-checkout .header-main .logo-main {position: inherit;}

.is--ctl-checkout.is--minimal-header .header-main .logo--shop,
.is--ctl-register.is--minimal-header .header-main .logo--shop,
.is--ctl-register.is--minimal-header.is--target-checkout .header-main .logo--shop {margin-top: 0;}

.is--ctl-checkout.is--minimal-header .header-main .logo--link,
.is--ctl-register.is--minimal-header .header-main .logo--link, 
.is--ctl-register.is--minimal-header.is--target-checkout .header-main .logo--link {max-width: 200px;width: 50%;margin: auto;}


@media screen and (max-width: 767px) {
    /* Start: Sidebar */
    .off-canvas {min-width: 17.5rem;width: 21rem;width: 75vw;max-width: 500px;}
    .sidebar-main.off-canvas.is--open {background: rgba(242, 242, 242, 0.9);box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.43);}

    .navigation--headline {text-transform: uppercase;text-align: center;color: rgb(131, 131, 131);letter-spacing: .1em;font-weight: 500;font-size: 14px;}
    .sidebar--navigation .navigation--link {color: #2d2d2d;text-transform: uppercase;text-align: center;}
    .navigation--smartphone .entry--close-off-canvas {background: transparent;text-align: center;text-transform: uppercase;letter-spacing: .1em;}
    .navigation--smartphone .entry--close-off-canvas .icon--arrow-right { position: absolute; right: 0; top: 0; margin: auto; bottom: 0; display: inline-block; height: 12px;display: none;}
    .navigation--smartphone .entry--close-off-canvas .navigation--link {position: relative;padding-top: 20px;padding-bottom: 20px;color: #393939;text-shadow: 7px 13px 0 #f4f4f4;}

    .offcanvas--overlay {top: 75px;width: 100%;background: transparent;}
    .off-canvas .link--go-main {height: 60px;background: transparent;display: none;}
    .offcanvas--overlay .overlay--headline {border: 0;}
    .offcanvas--overlay .overlay--category {text-align: center;text-transform: uppercase;letter-spacing: .1em;font-weight: 400;}
    .offcanvas--overlay .is--icon-left {position: absolute;left: 10px;}
    .sidebar--navigation .navigation--link .is--icon-right {position: absolute;right: 15px;}
    /* End: Sidebar */


}


.steps--container {
    display: block;
    position: relative;
}


/* Pinning / Stickish / Sticky */
.stickish-wrapper {position: relative;}
.stickish-wrapper * {margin: 0;}

.stickish-item {position: relative;z-index: 5; transition: margin 400ms cubic-bezier(0.37, 0.13, 0.64, 0.99);}
.stickish-item.fixed {position: fixed;top: 0;width: calc(100% - 25px);margin-left: -15px;}
.stickish-item.fixed.absolute {position: absolute;width: 100vw;}

.stickish-item h2 {font-size: 1.75em;line-height: 1;font-weight: 600;}
.stickish-item h2:before {display: none;}
.stickish-item p {line-height: 1.25;}

.stickish-item .stickish-inner,
.stickish-item .stickish-inner:before {backdrop-filter: blur(7px);}

.stickish-item .stickish-inner {padding: 10px 0;}

.stickish-item .stickish-inner:before {content: ""; display: block; width: 100%; right: 100%; position: absolute; background: inherit;top: 0; height: 100%; pointer-events: none;}

.stickish-item .stickish-inner:after {content: ""; opacity: 0; box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.42); position: absolute; right: 0%; width: 200vw; height: 100%; top: 0; transition: 200ms;}
.stickish-item.fixed .stickish-inner:after {opacity: 1;}


@media screen and (max-width: 767px) {
    /* Stikish Mobile */
    .stickish-item h2 {font-size: 20px;}
    .stickish-item p {font-size: 14px;}
}

/* Produkt-Welt Banner */
.produkt-welt--banner-wrapper {}

.produkt-welt--banner-wrapper .emotion--element {overflow: hidden;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(1) {}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(2) {}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(3) {}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(4) {}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(5) {}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(6) {}

.produkt-welt--banner-wrapper .emotion--element img {transition: 200ms;min-width: 100%;width: auto;min-height: 100%;height: auto;position: absolute;left: 0;top: 0;right: 0;bottom: 0;object-fit: cover;pointer-events: none;z-index: -1;animation: produktWeltBannerImg 1500ms cubic-bezier(0.55, -0.21, 0.59, 0.95);}
.produkt-welt--banner-wrapper .emotion--element:hover img {transform: scale(1.05);}

.produkt-welt--banner-wrapper .emotion--element:nth-of-type(1) img {animation-duration: 1100ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(2) img {animation-duration: 1200ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(3) img {animation-duration: 1300ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(4) img {animation-duration: 1400ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(5) img {animation-duration: 1500ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(6) img {animation-duration: 1600ms;}
.produkt-welt--banner-wrapper .emotion--element:nth-of-type(7) img {animation-duration: 1700ms;}

@keyframes XproduktWeltBannerImg {
  0%    {transform: scale(1.25); opacity: 0.2;}
  10%    {transform: scale(1.25); }
  100%  {transform: scale(1); opacity: 1;}
}

.produkt-welt--banner-wrapper .html--content,
.produkt-welt--banner-wrapper .html--content h2,
.produkt-welt--banner-wrapper .html--content p,
.produkt-welt--banner-wrapper .html--content a {color: #fff;}
.produkt-welt--banner-wrapper .html--content h2 {font-weight: 800;margin-top: 0;}
.produkt-welt--banner-wrapper .html--content h2:before {display: none;}
.produkt-welt--banner-wrapper .html--content p {padding: 0 15px;max-width: 550px;margin: auto;max-height: 150px;display: block;overflow: scroll;overflow: -moz-scrollbars-none; -ms-overflow-style: none;scrollbar-width: 0;scrollbar-width: none;-ms-overflow-style: none;}
.produkt-welt--banner-wrapper .html--content p::-webkit-scrollbar {display: none;}
.produkt-welt--banner-wrapper .html--content a:before {display: none;}

.produkt-welt--banner-wrapper .emotion--html {display: flex;align-items: center;align-self: center;justify-content: center;width: 100%;height: 100%;}

/* Only Desktop */
.produkt-welt--banner-wrapper.desktop {height: 89vh;height: calc(100vh - 100px);min-height: 600px;max-height: 1220px;}
.produkt-welt--banner-wrapper.desktop .emotion--element        {}
.produkt-welt--banner-wrapper.desktop .emotion--element.orientierung        {}
.produkt-welt--banner-wrapper.desktop .emotion--element.ausbildung          {}
.produkt-welt--banner-wrapper.desktop .emotion--element.ausbildung-online   {}
.produkt-welt--banner-wrapper.desktop .emotion--element.ausbildung-offen    {}
.produkt-welt--banner-wrapper.desktop .emotion--element.ausbildung-inhouse  {}
.produkt-welt--banner-wrapper.desktop .emotion--element.nach-der-ausbildung {}

/* Only Tablet */
.produkt-welt--banner-wrapper.tablet {height: 89vh;height: calc(100vh - 100px);min-height: 800px;max-height: 1520px;}

/* Only Mobile */
.produkt-welt--banner-wrapper.mobile {}
.produkt-welt--banner-wrapper.mobile .html--content {padding: 25px;}


/* Produkt Welt */
.produkt-welt {padding-right: 15px;padding-left: 15px;}
.produkt-welt.inverted {color: #fff;}
.produkt-welt.first {padding-top: 40px;}

.produkt-welt.orientierungsangebote {max-width: 1700px; }
.produkt-welt.orientierungsangebote.first {padding-top: 40px;}
.produkt-welt.orientierungsangebote .stickish-inner {background: rgba(197, 199, 199, 0.75);}

.produkt-welt.ausbildung {max-width: 1700px;}
.produkt-welt.ausbildung.first {padding-top: 40px;}
.produkt-welt.ausbildung .stickish-inner {background: rgba(175, 205, 212, 0.75);}

/* Ausbildung: Grafik-Desktop */
.produkt-welt.ausbildung.grafik.desktop {padding-left: 40px;padding-right: 40px;}

/* Ausbildung: Allgemeine Informationen */
.produkt-welt.ausbildung.allgemein {padding-top: 0;}

/* Ausbildung: Offen */
.produkt-welt.ausbildung.offene .stickish-inner {background: rgba(148, 187, 196, 0.75);}

/* Ausbildung: Inhouse */
.produkt-welt.ausbildung.inhouse,
.produkt-welt.ausbildung.inhouse h2,
.produkt-welt.ausbildung.inhouse h3,
.produkt-welt.ausbildung.inhouse h4 {color: #fff;}
.produkt-welt.ausbildung.inhouse .stickish-inner {background: rgba(66, 97, 106, 0.75);}

/* Nach der Ausbildung*/
.produkt-welt.nach-der-ausbildung {max-width: 1700px;}
.produkt-welt.nach-der-ausbildung .stickish-inner {background-color: rgba(239, 216, 77, 0.75);}

/* Subinfo */
.ausbildung--subinfo {}
.ausbildung--subinfo.visible {}
.ausbildung--subinfo:not(.visible) {display: none !important;}

/* Bobbles */
.bobbles-wrapper {/* pointer-events: none; */width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.bobbles-inner {width: 100%;height: 100%;position: relative;}
.bobble-outside {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.bobble-inside {background: #54656c;border-radius: 100%;height: 0;width: 0;padding: 150px;}

/* Text Overflow */
.text-overflow {}
.text-overflow.cutted {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}

.text-overflow + .trigger {transition: 200ms; cursor: pointer;margin: -40px -20px -20px;padding: 20px;float: right;display: block;text-align: right;text-transform: uppercase;font-weight: 600;letter-spacing: .05em;font-size: 15px;/* z-index: 1; */position: absolute;right: 0;}
.text-overflow + .trigger:hover {color: #76949b;}
.text-overflow + .trigger > span {display: none; text-decoration: underline;}
.text-overflow.cutted + .trigger > span:nth-of-type(1) {display: inline-block;}
.text-overflow:not(.cutted) + .trigger {padding: 0;margin: -20px 0;}
.text-overflow:not(.cutted) + .trigger > span:nth-of-type(2) {display: inline-block;}


/* Pan Zoom */
.panWrapper {background-color: rgba(0, 0, 0, 0.75);backdrop-filter: blur(5px);transition: 200ms;}
.panWrapper img {max-height: unset;padding: 75px;}
.panWrapper a.controls {font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 1.5em;letter-spacing: normal;text-transform: none;display: inline-block;white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;color: #fff;display: inline-block;background-image: unset !important;color: rgba(255, 255, 255, 0.80);}
.panWrapper a.controls:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;text-align: center;width: 100%;height: 100%;vertical-align: middle;}
.panWrapper a.controls:hover {color: #fff;}

.panWrapper a.controls.in:before {content: "zoom_in";}
.panWrapper a.controls.out:before {content: "zoom_out";}
.panWrapper a.controls.close:before {content: "fullscreen_exit";content: "close";}

/* Circle Progress */
.progress-circle {position: relative;text-align: center;}
.progress-circle canvas {width: 100% !important;height: auto !important;}
.progress-circle p {margin: auto; font-size: 38px;position: absolute;top: 0;text-align: center;bottom: 0;right: 0;left: 0;align-items: center;justify-content: center;display: flex;align-self: center;}
.progress-circle p i {font-size: .75em;font-style: initial;margin-top: .2em;}
.progress-circle .subtitle {font-size: 15px;position: absolute;top: 50%;transform: translateY(80%);left: 0;right: 0; font-weight: 600;}

.is--ctl-checkout .header-main .header-inner {height: auto !important;}

@keyframes videoSubtextAnim {
  0%  {opacity: 0;transform: scale(1);}
  15% {opacity: 0;}
  25% {opacity: 1;}
  32% {opacity: 0;}
  35% {transform: scale(1.25);}
}



/* Scroll Down Mouse */
.scrollmouse {width: 30px;height: 50px;position: absolute;bottom: 8vh;left: 50%;cursor: pointer;margin-top: -25px;margin-left: -15px; animation: fadeIn 900ms 25s forwards; opacity: 0; }
.scrollmouse .mouse {width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: block;border: 2px solid rgba(255, 255, 255, 0.14);border-radius: 20px;}
.scrollmouse .wheel {width: 4px;height: 4px;top: 10px;left: 50%;position: absolute;background: rgba(255, 255, 255, 0.46);display: block;border-radius: 50%;margin-left: -2px;animation-name: scroll-wheel;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}
/* End: Scroll Down Mouse */


body .emotion--mode-rows .emotion--product-slider {
  background-color: transparent;
}

@media screen and (min-width: 480px) {

  .box--list.product--box .box--content {padding: 0;}

  .box--list.product--box .product--image .image--element img {
    left: 12px;
}
  .box--list.product--box .product--image {height: 100%;width: 12rem;}

  .box--list.product--box .product--info {padding: 0 15px;padding: 10px 15px;padding-left: 14rem;min-height: 190px;}
}

/* FORMS */
.forms--content .forms--checkbox input[type="checkbox"] {margin-right: 15px;}
.forms--content .forms--checkbox {display: flex;align-items: center;}
.forms--content .forms--description {margin-top: 15px;margin-bottom: 5px;}


/* Botschaftertreffen */
.botschaft {padding-bottom: 0 !important;padding-top: 0 !important;}
.botschaft h3 {text-align: center;margin-bottom: 0;color: #ffffff;background: #fdbf1e;background: #afc5cb;padding: 15px 15px 12px;font-weight: 700;font-size: 26px;}
.botschaft.subtitle p{text-align: center;background: #afc5cb;color: #fff;font-weight: 700;padding: 15px;font-size: 1.25em;line-height: 1.2;margin: 0;display: flex;flex-flow: column;width: 100%;vertical-align: middle;align-items: center;justify-content: center;min-height: 150px;}
.botschaft.subtitle p .and {    display: block;    line-height: .74685;    font-size: .9em;    color: #887c7c;    font-weight: 900;}
.botschaft.subtext p{padding: 15px 20px;margin: 0;background: #dfe4e8;background: #758588;color: #48505a;color: #fff;font-weight: 600;text-align: center;font-size: 12.8px;}
.botschaft.subtext p a {color: #6c7894;color: #f7f7f7;font-size: 1.12em;}
.botschaft.row:hover > div:not(:hover) {    opacity: .8;}
.btn-primary-2 {    font-size: 1.65em;    text-transform: uppercase;    color: #fff;    font-weight: 700;}
.coha-table.table {    font-size: 16px;}
.coha-table td,
.coha-table th {    padding: 10px;}
.coha-table>thead>tr>th,
.coha-table>tbody>tr>td {    padding: 10px 17px;    border-color: #dfe4e7;    text-align: right;}
.coha-table>thead>tr>th {    border-bottom: 0px solid #c9cfd2;    border: unset;    background: #dfe4e7;    text-align: left;    font-weight: 600;    color: #525a5f;}
.coha-table>thead>tr:last-of-type>th {    text-align: right;}
.coha-table .title {    font-size: 2em;    font-weight: 500;    color: #656f73;    text-align: center;}
.coha-table .subtitle {    font-size: .8em;    font-weight: 500;    color: #7e878c;}
.coha-quote {    text-align: center;    font-weight: 500;    font-size: 26px;    text-transform: uppercase;    letter-spacing: .2em;}
.btn-flying{position: fixed;bottom: 5%;left: 10px;right: 10px;width: 80vw;margin: auto;max-width: 405px;min-width: 300px;z-index: 9999;text-align: center;box-shadow: 0px 2px 22px -5px rgba(0, 0, 0, 0.25);}






/* Animations */
@keyframes rotate {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(360deg);}
}

@keyframes rotateDot {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(-7deg);}
}
@-webkit-keyframes rotateDot {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(-7deg);}
}

@-webkit-keyframes rotate7deg {
    0%    {transform: rotate(7deg); }
  100%    {transform: rotate(-7deg);}
}

@keyframes rotate7deg {
    0%    {transform: rotate(7deg); }
  100%    {transform: rotate(-7deg);}
}

@-webkit-keyframes rotate5deg {
    0%    {transform: rotate(5deg); }
  100%    {transform: rotate(-5deg);}
}

@keyframes rotate5deg {
    0%    {transform: rotate(5deg); }
  100%    {transform: rotate(-5deg);}
}

@-webkit-keyframes rotate3deg {
    0%    {transform: rotate(3deg); }
  100%    {transform: rotate(-3deg);}
}

@keyframes rotate3deg {
    0%    {transform: rotate(3deg); }
  100%    {transform: rotate(-3deg);}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pulsingMappingLink {
    0% {opacity: 0;}
    20% {opacity: 1; }
    80% {opacity: 0; transform: scale(.7);}
    100% {opacity: 0;}
}


/* AOS Fixes */
[data-aos=flip-up] {
    transform: perspective(2500px) rotateX(-90deg);
}


/* Shopping Cart */
.container--ajax-cart.off-canvas {width: 80vw;max-width: 450px;min-width: 200px;}
.ajax--cart .cart--item .thumbnail--image {}
.thumbnail--container.has--image {}
.ajax--cart .cart--item .thumbnail--container.has--image {border-radius: 0;border: 0;min-height: 75px;height: 6vw;max-height: 100px;display: inline-block;}
.ajax--cart .cart--item .thumbnail--container {width: 20%;}
.off-canvas .ajax--cart .cart--item {}
.off-canvas .ajax--cart .cart--item .item--link {width: 60%;}
.off-canvas .ajax--cart .action--container {float: right;}
.off-canvas .ajax--cart .action--container .action--remove {width: 20px;height: 20px;padding: 0;}
.off-canvas .ajax--cart .action--container *[class*="icon--"] {line-height: 0;font-size: 8px;}

