textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {box-shadow: unset;background-color: #fff;box-sizing: border-box;border-radius: 2px;color: #333;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;float: none;font-size: 16px;border: 1px solid #ccc;padding: 6px 10px;height: 38px;width: 100%;line-height: 1.3;}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .02em;
}

/* Header Logo Centering*/
.header-main .top-bar {
    display: none;
}
/*
.header-main .logo-main .logo--link {
    height: 80px;
    z-index: 999;
    width: 150px;
}
*/

/* Thin icons */
.thin-icon { width: 25px; height: 25px; display: inline-block; background-size: auto 100%; background-repeat: no-repeat; background-position: center center;}
.thin-icon.user { padding-top: 2px; }
.thin-icon.bag  { padding-top: 0px; }
.thin-icon.menu {height: 35px;width: 36px;margin-top: -5px;}

.navigation-main .navigation--link { text-transform: uppercase; color: #000; font-weight: 500; position: relative;position: relative;font-size: 14px;}
.navigation-main .navigation--link:after {content: "";position: absolute;width: 0%;min-width: 0;background: #efd84d;height: 4px;left: 0;right: 0;bottom: -1px;margin: auto;transition: 200ms;}
.navigation-main .navigation--link:hover:after {width: calc(75% - 30px);min-width: 30px;}

.navigation-main .is--active .navigation--link {background: transparent;font-weight: 500;color: #54656c;}
.navigation-main .is--active .navigation--link:hover {color: #54656c;}
.navigation-main .is--active .navigation--link:after { width:calc( 75% - 30px); min-width: 35px; }
.navigation-main .is--active .navigation--link:hover:after { width: calc(100% - 30px); min-width: 35px; }



/* Center Logo */
.header-main {position: relative;}
.header-main .header--navigation {position: static;padding: 0;width: 100%;}
.header-main .logo-main {left: 0;right: 0;margin: auto;float: none;overflow: visible;clear: both;width: 13rem;height: 7.5rem;text-align: center;top: 0;bottom: 0;z-index: 9;margin: auto;padding: 15px 20px;}
.header-main .logo-main .logo--shop { width: 100%; height: 100%;}
.header-main .logo-main .logo--link { height: 100%; width: 100%;}

.navigation-main {border-bottom: 1px solid #e6e6e6;}
.navigation-main > .container {background: transparent;}
.navigation-main .container .navigation--list-wrapper {width: 100%;justify-content: space-between;vertical-align: middle;display: flex;align-items: center;padding-bottom: 20px;}


.shop--navigation { width: 100%;}


@media screen and (min-width: 1260px) {
    .shop--navigation { line-height: 110px; }
    .navigation-main .container .navigation--list-wrapper {height: 110px;padding: 0;}

    .header-main .logo-main {position: absolute;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;}
}

@media screen and (max-width: 767px) {
    .shop--navigation { line-height: 110px; }
    .navigation-main .container .navigation--list-wrapper {height: 110px;}

    .header-main {padding: 0;}
    .header-main .logo-main {position: absolute;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;}
}


/* EXPERIMENTAL */
.navigation-main > .container {max-width: 1500px;padding: 0 15px;}
.content-main {background: transparent;box-shadow: unset;margin-top: 0;max-width: 1440px;}
.content-main--inner {}
.emotion--wrapper {max-width: 1360px;}
.emotion--wrapper .emotion--container {background: transparent;}
.navigation--list-wrapper .navigation--entry {}
.navigation--list-wrapper .navigation--entry.entry--account {padding-right: 14px;} 
/* //EXPERIMENTAL */
