/* Selection-Colour */
::-moz-selection {      /* background: #efd84d;*/ background: #afcdd4; color: #fff; }
::selection {           /* background: #efd84d;*/ background: #afcdd4; color: #fff; }

.inverter ::-moz-selection {      background: #efd84d; color: #fff; }
.inverted ::selection {           background: #efd84d; color: #fff; }



textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {box-shadow: unset;background-color: #fff;box-sizing: border-box;border-radius: 2px;color: #333;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;float: none;font-size: 16px;border: 1px solid #ccc;padding: 6px 10px;height: 38px;width: 100%;line-height: 1.3;}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .02em;
}

/* Header Logo Centering*/
.header-main .top-bar {
    display: none;
}
/*
.header-main .logo-main .logo--link {
    height: 80px;
    z-index: 999;
    width: 150px;
}
*/

.navigation-main .navigation--link { text-transform: uppercase; color: #000; font-weight: 500; position: relative;position: relative;font-size: 14px;}
.navigation-main .navigation--link:after {content: "";position: absolute;width: 0%;min-width: 0;background: #efd84d;height: 4px;left: 0;right: 0;bottom: -1px;margin: auto;transition: 200ms;}
.navigation-main .navigation--link:hover:after {width: calc(75% - 30px);min-width: 30px;}

.navigation-main .is--active .navigation--link {background: transparent;font-weight: 500;color: #54656c;}
.navigation-main .is--active .navigation--link:hover {color: #54656c;}
.navigation-main .is--active .navigation--link:after { width:calc( 75% - 30px); min-width: 35px; }
.navigation-main .is--active .navigation--link:hover:after { width: calc(100% - 30px); min-width: 35px; }

/* Image Fixes */
.emotion--mode-rows .emotion--html img {display: inline-block;}


/* Center Logo */
.header-main {position: relative;width: 100% !important;z-index: 1000;}
.header-main .header-inner {height: 100%; width: 100%;}
.header-main .header--navigation {position: static;padding: 0;width: 100%;}
.header-main .logo-main {left: 0;right: 0;margin: auto;float: none;overflow: visible;clear: both;width: 13rem;/* width: min-content; *//* width: fit-content; */height: 8.5rem;height: 100%;min-height: 65px;max-height: 110px;/* height: 100%; */text-align: center;top: 0;bottom: 0;z-index: 9;margin: auto;padding: 10px;}
.header-main .logo-main .logo--shop {width: 100%;height: 100%;margin-top: -3%;}
.header-main .logo-main .logo--link { height: 100%; width: 100%;}
.header-main .logo-main .logo--link picture img {display: inline-block;display: flex;margin: auto;align-items: center;justify-content: center;vertical-align: middle;align-self: center;}

.navigation-main {border-bottom: 1px solid #e6e6e6;}
.navigation-main > .container {background: transparent;}


.shop--navigation { width: 100%;}

/* Mobile */
.header-main .header-inner {height: 110px;position: relative;}


/* Tablet */
@media screen and (min-width: 770px) {
    .header-main .header-inner {height: 170px;height: 100%;}
    .header-main .logo-main {padding: 20px;}

    .navigation-main > .container {padding-bottom: 10px;}
}

/* Desktop */
@media screen and (min-width: 1260px) {

    .header-main .header-inner {height: 110px;}

    .shop--navigation { line-height: 110px; }
    .navigation-main {height: 100%;}

    .header-main .logo-main {position: absolute;padding: 18px;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;}

    .navigation-main > .container {max-width: 1500px;padding: 0 15px;height: 100%;}
    .navigation-main .container .navigation--list-wrapper {height: 100%;width: 100%;justify-content: space-between;vertical-align: middle;display: flex;align-items: center;padding-bottom: 20px;padding: 0;}


    /* SIDEBAR FILTER */
    .listing--sidebar .sidebar-filter .action--filter-options {background: transparent; }
}

@media screen and (max-width: 767px) {
    .shop--navigation {/* line-height: 110px; */}
    .navigation-main .container .navigation--list-wrapper {height: 110px;}

    .header-main {padding: 0;}
    .header-main .logo-main {position: absolute;padding: 20px;}
    .header-main .header--navigation {display: flex;align-items: center;justify-content: inherit;height: 100%;}
}


/* EXPERIMENTAL */
.content-main {background: transparent;box-shadow: unset;margin-top: 0;max-width: 1440px;}
.content-main--inner {}
.emotion--wrapper {max-width: 1360px;}
.emotion--wrapper .emotion--container {background: transparent;}
.navigation--list-wrapper .navigation--entry {}
.navigation--list-wrapper .navigation--entry.entry--account {padding-right: 14px;} 
/* //EXPERIMENTAL */


/* SIDEBAR AND FILTER */
.sidebar--navigation {border: 0;background: transparent;}
.sidebar--navigation .navigation--entry {border: 0;margin: 0;}
.sidebar--navigation .navigation--link {padding-right: 0;padding-left: 0;}
.sidebar--navigation .navigation--link.is--active {color: #000;}
.sidebar--navigation .navigation--link.is--active:after {content: ""; border-radius: 100%;border: 4px solid #E95323;display: inline-block;line-height: 5rem;margin-bottom: .5em;}

.action--filter-options.is--collapsed {border: 0;}
.listing--actions {background: #fff;box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);}
.filter--container {padding: 0;}
.filter--container .filter-panel {background: transparent;border-width: 1px;border-radius: 0;border-color: transparent;}
/* // SIDEBAR AND FILTER */


/* Happiness Circles */
.happy-circles {width: 100%;height: 100%;min-height: 200px;height: 80vw;max-height: 500px;min-width: 200px;width: 80vw;width: 100%;max-width: 500px;margin: 0;text-align: center;display: inline-block;position: relative;overflow: visible;}

.happy-circle .inner {transition: 250ms;transform: scale(1);animation-name: rotate5deg;animation-duration: 10s;animation-iteration-count: infinite;animation-direction: alternate;position: absolute;width: 100%;width: fit-content;height: 100%;margin: auto;left: 0;right: 0;top: 0;bottom: 0;display: inline-block;text-align: center;overflow: visible;width: 100%;}
.happy-circle.inn .inner {transform: rotate(-7deg);transform: none;animation-name: rotate3deg;animation-name: none;animation-duration: 13s;animation-delay: 0s;width: 25%;/* width: fit-content; */height: 25%;animation-direction: alternate-reverse;}
.happy-circle.mid .inner {transform: rotate( 5deg);animation-name: rotate5deg;animation-duration: 11s;animation-delay: 1s;width: 62%;/* width: fit-content; */height: 62%;animation-direction: alternate;}
.happy-circle.out .inner {transform: rotate(-3deg);animation-name: rotate3deg;animation-duration: 10s;animation-delay: 3s;width: 100%;animation-direction: alternate-reverse;border-radius: 100%;}

.happy-circle div {height: 100%;width: auto;text-align: center;overflow: visible;position: relative;}
.happy-circle .svg {height: 100%;width: 100%;transition: 200ms;z-index: 1;border-radius: 25%;overflow: visible;}


.happy-circle:hover     {/*animation-play-state: paused;*/}
.happy-circle.inn:hover {}
.happy-circle.mid:hover {}
.happy-circle.out:hover {}

.happy-circle .svg:hover {transform: scale(1.01); z-index: 2;}
.happy-circle.inn .svg:hover,
.happy-circle.inn .svg:hover + .dot .svg {transform: scale(1.070); }
.happy-circle.mid .svg:hover,
.happy-circle.mid .svg:hover + .dot .svg {transform: scale(1.030); }
.happy-circle.out .svg:hover,
.happy-circle.out .svg:hover + .dot .svg {transform: scale(1.008); }

  /* DOT & DOT Hover */
.happy-circle .dot {position: absolute;left: 0;right: 0;margin: 0;top: 0;bottom: 0;pointer-events: none;transition: 4s ease-in-out;animation: rotateDot 12s cubic-bezier(0.4, -0.01, 0.6, 1) infinite alternate-reverse; }
.happy-circle.mid .dot {animation-direction: alternate-reverse;         animation-duration: 10s; }
.happy-circle.out .dot {animation-direction: alternate;                 animation-duration: 11s; animation-delay: 1s;}
.happy-circle .svg:hover + .dot .svg {}
.happy-circle.inn .svg:hover + .dot .svg {transform: scale(1.070) rotate(-5deg); }
.happy-circle.mid .svg:hover + .dot .svg {transform: scale(1.030) rotate(-5deg); }
.happy-circle.out .svg:hover + .dot .svg {transform: scale(1.008) rotate(-5deg); }

  /* CLICKED */
.happy-circle.clicked .dot .svg {transition: 5s linear; transform: rotate(-179deg) !important;}


/* Happy Circle: Info-Text */
.happy-circle .info {opacity: 0; pointer-events: none; transform: scale(.5);transform-origin: 90% 70%;transition: 200ms;position: absolute;bottom: 25%;height: inherit;top: 0;margin: auto;max-width: 250px;padding: 15px 25px;align-items: center;text-align: left;vertical-align: middle;left: -25%;z-index: 9;border-radius: 30px;line-height: 1.25;display: table;color: #425d64;background: #afcdd4;font-weight: 700;}
.happy-circle.out .info {background: #AFCDD4;}
.happy-circle.mid .info {background: #FDD02D;}
.happy-circle.inn .info {background: #EE5220; color: #fff;}

.happy-circle:hover .info,
.happy-circle       .info:hover { pointer-events: all; opacity: 1;transform: scale(1);}

/* Bridge */
.happy-circle .info:after {content: "";width: 200%;position: absolute; overflow:hidden; right: -100px;background: transparent;height: 200%;z-index: 0;top: 0;}

  /* Circle */
.coha.circle {position: absolute;pointer-events: none;border-radius: 100%;}


/* Book-Payment Buttons */
.book-payment-buttons {}
.book-payment-buttons img {margin: 10px 10px 10px 0;box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.15);transition: 200ms;}
.book-payment-buttons img:hover {transform: scale(1.05);}



/* Product / Article Listing */
.listing--container {overflow: visible;overflow: inherit;}
.listing .product--box .box--content {background: #fff;border-color: #ffffff;border: unset;box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);}


/* Product / Article Listing: Full-Width-List */
.box--list.product--box .product--title {height: auto;font-size: 1.5rem;line-height: 1.25;font-weight: 500;}
.box--list.product--box .product--description {height: auto;white-space: pre-line;margin-top: -1em;}


/* Product Slider Arrows */
.product-slider--arrow {background: transparent;border: 0;color: #d9d9d9;font-size: 2rem;font-weight: 100;width: 60px;height: 60px;text-align: center;padding: 0;vertical-align: middle;align-items: center;display: flex;align-items: center;justify-content: center;transition: 200ms;border-radius: 100% !important;}
.product-slider--arrow:hover {color: #fff;background-color: rgba(255, 255, 255, 0.1);}
.product-slider--arrow.arrow--next {padding-left: 5px;}
.product-slider--arrow.arrow--prev {padding-right: 5px;}

/* Pulsing Mapping */
.emotion--banner .banner--mapping-link {border: 1px solid red;}
.emotion--banner:hover .banner--mapping-link {animation: pulsingMappingLink 2000ms linear infinite;box-shadow: 0px 0px 0px 8px #e6e6e6 inset;    opacity: 1;}
.emotion--banner .banner--mapping-link:hover {animation-duration: 1500ms;}


/* Video-Banner Subtext Animation */
.videoSubtextAnim {position: relative; width: 100%;}
.videoSubtextAnim span {display: block;position: absolute;right: 0;left: 0;margin: auto;opacity: 0;animation: videoSubtextAnim 35s cubic-bezier(0.47, 0.09, 0.63, 1.07) infinite;transform-origin: center top;}
.videoSubtextAnim span:nth-of-type(1) {animation-delay: 5s;}
.videoSubtextAnim span:nth-of-type(2) {animation-delay: 10s;}
.videoSubtextAnim span:nth-of-type(3) {animation-delay: 15s;}

@keyframes videoSubtextAnim {
  0%  {opacity: 0;transform: scale(1);}
  15% {opacity: 0;}
  25% {opacity: 1;}
  32% {opacity: 0;}
  35% {transform: scale(1.25);}
}



/* Scroll Down Mouse */
.scrollmouse {width: 30px;height: 50px;position: absolute;bottom: 8vh;left: 50%;cursor: pointer;margin-top: -25px;margin-left: -15px; animation: fadeIn 900ms 25s forwards; opacity: 0; }
.scrollmouse .mouse {width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: block;border: 2px solid rgba(255, 255, 255, 0.14);border-radius: 20px;}
.scrollmouse .wheel {width: 4px;height: 4px;top: 10px;left: 50%;position: absolute;background: rgba(255, 255, 255, 0.46);display: block;border-radius: 50%;margin-left: -2px;animation-name: scroll-wheel;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}
/* End: Scroll Down Mouse */


@media screen and (min-width: 480px) {

  .box--list.product--box .box--content {padding: 0;}

  .box--list.product--box .product--image .image--element img {margin: auto 0;}
  .box--list.product--box .product--image {height: 100%;width: 12rem;}

  .box--list.product--box .product--info {padding: 0 15px;padding: 10px 15px;padding-left: 14rem;min-height: 190px;}
}


/* Animations */
@keyframes rotate {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(360deg);}
}

@keyframes rotateDot {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(-7deg);}
}
@-webkit-keyframes rotateDot {
    0%    {transform: rotate(0); }
  100%    {transform: rotate(-7deg);}
}

@-webkit-keyframes rotate7deg {
    0%    {transform: rotate(7deg); }
  100%    {transform: rotate(-7deg);}
}

@keyframes rotate7deg {
    0%    {transform: rotate(7deg); }
  100%    {transform: rotate(-7deg);}
}

@-webkit-keyframes rotate5deg {
    0%    {transform: rotate(5deg); }
  100%    {transform: rotate(-5deg);}
}

@keyframes rotate5deg {
    0%    {transform: rotate(5deg); }
  100%    {transform: rotate(-5deg);}
}

@-webkit-keyframes rotate3deg {
    0%    {transform: rotate(3deg); }
  100%    {transform: rotate(-3deg);}
}

@keyframes rotate3deg {
    0%    {transform: rotate(3deg); }
  100%    {transform: rotate(-3deg);}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pulsingMappingLink {
    0% {opacity: 0;}
    20% {opacity: 1; }
    80% {opacity: 0; transform: scale(.7); box-shadow: 0px 0px 0px 4px #e6e6e6 inset;}
    100% {opacity: 0;}
}
